/* Si tienes un color de fondo en el body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #58a2de;
  background: linear-gradient(135deg, #330099, #33ccff);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}